/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 58, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 62, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* line 15, ../sass/screen.scss */
body {
  font-family: "Palatino";
  margin-top: 4.5em;
}

/* line 21, ../sass/screen.scss */
a {
  color: #2277ee;
  text-decoration: none;
}
/* line 24, ../sass/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 29, ../sass/screen.scss */
h1 {
  font-size: 2em;
  line-height: 1.5em;
  font-weight: normal;
}

/* line 34, ../sass/screen.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  font-weight: normal;
}

/* line 39, ../sass/screen.scss */
h3 {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: bold;
}

/* line 44, ../sass/screen.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  text-decoration: underline;
}

/* line 50, ../sass/screen.scss */
#posts header {
  display: block;
  letter-spacing: 2px;
  -webkit-column-span: all;
  -moz-column-span: all;
}

/* line 61, ../sass/screen.scss */
article {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
/* line 67, ../sass/screen.scss */
article section {
  margin-bottom: 1.5em;
}
/* line 68, ../sass/screen.scss */
article section header {
  margin: auto;
  text-align: center;
}
/* line 76, ../sass/screen.scss */
article section .copy {
  /* 
  	This is a dumb hack that mostly addresses the fact that
  	Mozilla doesn't support column span yet. 
  */
  -webkit-column-width: 24em;
  -moz-column-width: 24em;
  -o-column-width: 24em;
  column-width: 24em;
  -webkit-column-gap: 3em;
  -moz-column-gap: 3em;
  -o-column-gap: 3em;
  column-gap: 3em;
  margin: auto;
  padding: 1.5em;
}
/* line 87, ../sass/screen.scss */
article section .copy p {
  break-inside: avoid;
}
/* line 92, ../sass/screen.scss */
article section .overflowing {
  -webkit-column-width: auto;
  -moz-column-width: auto;
  -o-column-width: auto;
  column-width: auto;
  max-width: 33em;
}

/* line 101, ../sass/screen.scss */
#mainHeader {
  -webkit-box-shadow: 0px 5px 10px #999999;
  -moz-box-shadow: 0px 5px 10px #999999;
  box-shadow: 0px 5px 10px #999999;
  position: absolute;
  left: 0;
  right: 0;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
}
/* line 109, ../sass/screen.scss */
#mainHeader #primaryNav {
  font-size: 1.5em;
  line-height: 2em;
}
/* line 111, ../sass/screen.scss */
#mainHeader #primaryNav ul {
  text-align: center;
  list-style-type: none;
}
/* line 116, ../sass/screen.scss */
#mainHeader #primaryNav li {
  display: inline;
  margin-right: 1em;
  margin-left: 1em;
}
/* line 124, ../sass/screen.scss */
#mainHeader #primaryNav a {
  text-decoration: none;
  color: black;
}
/* line 127, ../sass/screen.scss */
#mainHeader #primaryNav a:hover {
  color: #2277ee;
}
/* line 133, ../sass/screen.scss */
#mainHeader #breadcrumbs {
  text-align: center;
}
/* line 137, ../sass/screen.scss */
#mainHeader #breadcrumbs h1, #mainHeader #breadcrumbs h2, #mainHeader #breadcrumbs h3, #mainHeader #breadcrumbs h4, #mainHeader #breadcrumbs h5, #mainHeader #breadcrumbs h6 {
  display: inline;
  margin-left: 0.75em;
  margin-right: 0.75em;
}

/* line 147, ../sass/screen.scss */
.sidebar {
  display: none;
  text-align: center;
  margin-right: 40px;
  width: 180px;
  height: 100%;
  border: solid red 1px;
}

/* line 157, ../sass/screen.scss */
.month {
  font-size: 48px;
  line-height: 48px;
  display: block;
  letter-spacing: 2px;
}

/* line 164, ../sass/screen.scss */
.date {
  display: block;
  font-size: 22px;
  line-height: 32px;
}

/* line 170, ../sass/screen.scss */
.time {
  display: block;
  font-size: 22px;
  line-height: 32px;
}

/* line 176, ../sass/screen.scss */
.rotated {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* line 184, ../sass/screen.scss */
p {
  margin-bottom: 1.5em;
}

/* line 188, ../sass/screen.scss */
#posts {
  margin: auto;
}

/* line 192, ../sass/screen.scss */
aside {
  margin-top: 16px;
  font-style: italic;
  text-align: center;
}
